$colors: (
        primary: #212121,
        primary-light: #b54cff,
        primary-dark: #3900c7,
);
$theme-colors: (
        primary: #212121,
        primary-light: #b54cff,
        primary-dark: #3900c7,
);
// Overwrite any other bootstrap files as necessary.
@import "node_modules/bootstrap/scss/bootstrap";
