.page-navbar {
  height: 96px;
  font-family: "Source Code Pro", "Courier New", monospace;
}

.site-logo {
  margin-right: 16px;
  height: 64px;
  width: 64px;
}

.navbar-brand {
  display: flex;
  flex-flow: row nowrap;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
